# --- python & variabili ambiente ---
__pycache__
*.pyc
venv/
.env

# --- Sistema operativo ---
.DS_Store
Thumbs.db

# --- Dataset & modelli---
data/
models/

# --- Pesi dei modelli ---
*.pt
*.h5

# --- IDE ---
.vscode
